@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.t1 {
  font-size: 18px;
  font-weight: bold;
}

.t2 {
  font-size: 14px;
  font-weight: 400;
}

.t3 {
  font-size: 14px;
  font-weight: bold;
}

.m10 {
  margin-top: 10px !important;
}

.m20 {
  margin-top: 20px !important;
}

.m40 {
  margin-top: 40px !important;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #262626;
  letter-spacing: 0.3px;
}

.converter {
  padding: 80px 30px;
}

.fixedSection {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: calc(100% - 60px);
  top: 0;
  padding-bottom: 40px;
  max-width: 400px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 30px;
  right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.hide {
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

.header {
  padding-top: 40px;
}

.header .h {
  font-size: 30px;
  font-weight: bold;
}

.header .d {
  opacity: 0.3;
}

.input {
  width: 100%;
}

.input .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.2fr;
      grid-template-columns: 1fr 0.2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 0px;
  width: calc(100%-25px);
  padding: 10px;
  border: 2px solid #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  align-items: center;
}

.input .input-container .input-btn {
  all: unset;
  font-weight: bold;
  font-size: 14px;
}

.input .input-container .input-btn::-webkit-input-placeholder {
  opacity: 0.5;
}

.input .input-container .input-btn:-ms-input-placeholder {
  opacity: 0.5;
}

.input .input-container .input-btn::-ms-input-placeholder {
  opacity: 0.5;
}

.input .input-container .input-btn::placeholder {
  opacity: 0.5;
}

.input .input-container .icon-del {
  justify-self: end;
  margin-right: 10px;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s 0s;
  transition: 0.3s 0s;
}

.input .input-container .icon-del:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.input .input-container:hover,
.input .input-container:active,
.input .input-container:focus {
  border: 2px solid #d9cbf5;
}

.input .exchange-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "value-l icon value-r" "from-l icon to-r" "name-l icon name-r";
}

.input .exchange-container .value-l, .input .exchange-container .value-r {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: value-l;
  background-color: #fafafa;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  height: 25px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}

.input .exchange-container .value-l:active, .input .exchange-container .value-r:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.input .exchange-container .value-r {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: value-r;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}

.input .exchange-container .value-r:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.input .exchange-container .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: icon;
  font-size: 1.5rem;
  justify-self: center;
  -webkit-transition: 0.3s 0s;
  transition: 0.3s 0s;
  background-color: #fafafa;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10000px;
  padding: 5px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input .exchange-container .icon:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.input .exchange-container .from-l, .input .exchange-container .to-r {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: from-l;
  background-color: #fff0cc;
  color: #fabc29;
  font-size: 14px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input .exchange-container .to-r {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: to-r;
  background-color: #e6e9f3;
  color: #758bef;
  font-size: 14px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input .exchange-container .name-l, .input .exchange-container .name-r {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: name-l;
  font-size: 12px;
  color: #fabc29;
  opacity: 1;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  height: 16px;
}

.input .exchange-container .name-r {
  color: #758bef;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: name-r;
}

.list {
  position: absolute;
  top: 340px;
  left: 30px;
  right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.list .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.currency {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr 0.3fr;
      grid-template-columns: 0.3fr 1fr 0.3fr;
  padding: 10px 20px;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency .code {
  font-weight: bold;
  font-size: 14px;
}

.currency .name {
  font-size: 12px;
  opacity: 0.3;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.currency .icon {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  opacity: 0.3;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.currency:active {
  -webkit-box-shadow: rgba(149, 157, 165, 0.23) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.23) 0px 8px 24px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.currency:hover .icon,
.currency:hover .name {
  opacity: 1;
}

@media (min-width: 768px) {
  .value-l, .input .exchange-container .value-r {
    cursor: pointer;
    -webkit-transition: .3s 0s !important;
    transition: .3s 0s !important;
  }
  .value-l:hover, .input .exchange-container .value-r:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .icon-del {
    cursor: pointer;
  }
  .icon-del:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .currency {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .currency:hover {
    -webkit-box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
  }
  .exchange-container .icon {
    cursor: pointer;
  }
  .exchange-container .icon:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */