@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

// colors

$t: #262626;
$b: #f3f3f3;
$l: #fafafa;

$gd: #fabc29;
$gl: #f4eddf;
$pd: #758bef;
$pl: #e6e9f3;

// text styles

.t1 {
  font-size: 18px;
  font-weight: bold;
}

.t2 {
  font-size: 14px;
  font-weight: 400;
}

.t3 {
  font-size: 14px;
  font-weight: bold;
}

// margins

.m10 {
  margin-top: 10px !important;
}

.m20 {
  margin-top: 20px !important;
}

.m40 {
  margin-top: 40px !important;
}

// --------------------------------- //

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: $b;
  color: $t;
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 0.3px;
}

.converter {
  padding: 80px 30px;
}

.fixedSection {
  position: fixed;
  z-index: 100;
  background-color: $b;
  width: calc(100% - 60px);
  top: 0;
  left: 30px;
  padding-bottom: 40px;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  padding-top: 40px;

  .h {
    font-size: 30px;
    font-weight: bold;
  }

  .d {
    opacity: 0.3;
  }
}

.input {
  width: 100%;

  .input-btn {
    all: unset;
    font-weight: bold;
    font-size: 14px;
    background-color: $l;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid $b;
    transition: 0.3s ease;
  }

  .input-btn:hover,
  .input-btn:active,
  .input-btn:focus {
    border: 2px solid #d9cbf5;
  }

  .input-btn::placeholder {
    opacity: .3;
  }

  .exchange-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "value-l icon value-r"
      "from-l icon to-r"
      "name-l icon name-r";

    .value-l {
      grid-area: value-l;
      background-color: $l;
      font-weight: bold;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      height: 25px;
    }

    .value-r {
      @extend.value-l;
      grid-area: value-r;
    }

    .icon {
      grid-area: icon;
      text-align: end;
      display: block;
      text-indent: -9999px;
      width: 18px;
      height: 18px;
      background: url(../exchange.svg);
      background-size: 18px 18px;
      justify-self: center;
      cursor: pointer;
    }

    .from-l {
      @extend .value-l;
      grid-area: from-l;
      background-color: $gl;
      color: $gd;
      font-size: 14px;
      width: 50%;
      justify-self: center;
      height: 20px;
    }

    .to-r {
      @extend .value-l;
      grid-area: to-r;
      background-color: $pl;
      color: $pd;
      font-size: 14px;
      width: 50%;
      justify-self: center;
      height: 20px;
    }

    .name-l {
      grid-area: name-l;
      font-size: 12px;
      color: $gd;
      opacity: 1;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      height: 16px;
    }

    .name-r {
      @extend .name-l;
      color: $pd;
      grid-area: name-r;
    }
  }
}

.list {
  position: absolute;
  top: 340px;

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.currency {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 5px;

  .code {
    font-weight: bold;
    font-size: 14px;
  }
  .name {
    font-size: 12px;
    opacity: 0.3;
  }
}

.currency:hover {
  background-color: $l;
}
