@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

// colors

$t: #262626;
$b: #fff;
$l: #fafafa;

$gd: #fabc29;
$gl: #fff0cc;
$pd: #758bef;
$pl: #e6e9f3;

// text styles

.t1 {
  font-size: 18px;
  font-weight: bold;
}

.t2 {
  font-size: 14px;
  font-weight: 400;
}

.t3 {
  font-size: 14px;
  font-weight: bold;
}

// margins

.m10 {
  margin-top: 10px !important;
}

.m20 {
  margin-top: 20px !important;
}

.m40 {
  margin-top: 40px !important;
}

// --------------------------------- //

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: $b;
  color: $t;
  letter-spacing: 0.3px;
}

.converter {
  padding: 80px 30px;
}

.fixedSection {
  position: fixed;
  z-index: 100;
  background-color: $b;
  width: calc(100% - 60px);
  top: 0;
  padding-bottom: 40px;
  max-width: 400px;
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
  left: 30px;
  right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.hide {
  transform: translateY(-100px);
}

.header {
  padding-top: 40px;

  .h {
    font-size: 30px;
    font-weight: bold;
  }

  .d {
    opacity: 0.3;
  }
}

.input {
  width: 100%;

  .input-container {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    align-items: center;
    background-color: $l;
    border-radius: 5px;
    padding: 0px;
    width: calc(100%-25px);
    padding: 10px;
    border: 2px solid $b;
    transition: 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;

    .input-btn {
      all: unset;
      font-weight: bold;
      font-size: 14px;
    }

    .input-btn::placeholder {
      opacity: 0.5;
    }

    .icon-del {
      justify-self: end;
      margin-right: 10px;
      color: $t;
      display: flex;
      align-items: center;
      transition: 0.3s 0.1s;
    }

    .icon-del:active {
      transition: 0s;
      transform: rotate(180deg);
    }
  }

  .input-container:hover,
  .input-container:active,
  .input-container:focus {
    border: 2px solid #d9cbf5;
  }

  .exchange-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "value-l icon value-r"
      "from-l icon to-r"
      "name-l icon name-r";

    .value-l {
      grid-area: value-l;
      background-color: $l;
      border: 2px solid $b;
      font-weight: bold;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      height: 25px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .value-r {
      @extend.value-l;
      grid-area: value-r;
    }

    .icon {
      grid-area: icon;
      font-size: 1.5rem;
      justify-self: center;
      transition: 0.3s .1s;
      background-color: $l;
      border: 2px solid $b;
      display: flex;
      border-radius: 10000px;
      padding: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .icon:active {
      transition: 0s;
      transform: rotate(180deg);
    }

    .from-l {
      @extend .value-l;
      grid-area: from-l;
      background-color: $gl;
      color: $gd;
      font-size: 14px;
      width: 50%;
      justify-self: center;
      height: 20px;
      box-shadow: none;
    }

    .to-r {
      @extend .value-l;
      grid-area: to-r;
      background-color: $pl;
      color: $pd;
      font-size: 14px;
      width: 50%;
      justify-self: center;
      height: 20px;
      box-shadow: none;
    }

    .name-l {
      grid-area: name-l;
      font-size: 12px;
      color: $gd;
      opacity: 1;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      height: 16px;
    }

    .name-r {
      @extend .name-l;
      color: $pd;
      grid-area: name-r;
    }
  }
}

.list {
  position: absolute;
  top: 340px;
  left: 30px;
  right: 30px;
  max-width: 400px;
  margin: 0 auto;

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.currency {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.3fr;
  padding: 10px 20px;
  transition: 0.3s 0.3s;
  border-radius: 5px;
  align-items: center;

  .code {
    font-weight: bold;
    font-size: 14px;
  }
  .name {
    font-size: 12px;
    opacity: 0.3;
    transition: 0.4s ease;
  }

  .icon {
    justify-self: end;
    color: $t;
    opacity: 0.3;
    transition: 0.4s ease;
  }
}

.currency:active {
  background-color: #f3f3f3;
  transform: scale(1.05);
  transition: 0.3s;
}

.currency:hover .icon,
.currency:hover .name {
  opacity: 1;
}

@media (min-width: 768px) {
  .icon-del {
    cursor: pointer;
  }

  .icon-del:hover {
    transform: rotate(360deg);
  }

  .currency {
    cursor: pointer;
    transition: 0.3s;
  }

  .currency:hover {
    background-color: #f3f3f3;
  }

  .icon {
    cursor: pointer;
  }

  .icon:hover {
    transform: rotate(180deg);
  }
}
