@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.t1 {
  font-size: 18px;
  font-weight: bold;
}

.t2 {
  font-size: 14px;
  font-weight: 400;
}

.t3 {
  font-size: 14px;
  font-weight: bold;
}

.m10 {
  margin-top: 10px !important;
}

.m20 {
  margin-top: 20px !important;
}

.m40 {
  margin-top: 40px !important;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #f3f3f3;
  color: #262626;
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 0.3px;
}

.converter {
  padding: 80px 30px;
}

.fixedSection {
  position: fixed;
  z-index: 100;
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  top: 0;
  left: 30px;
  padding-bottom: 40px;
  max-width: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  padding-top: 40px;
}

.header .h {
  font-size: 30px;
  font-weight: bold;
}

.header .d {
  opacity: 0.3;
}

.input {
  width: 100%;
}

.input .input-btn {
  all: unset;
  font-weight: bold;
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 2px solid #f3f3f3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input .input-btn:hover,
.input .input-btn:active,
.input .input-btn:focus {
  border: 2px solid #d9cbf5;
}

.input .input-btn::-webkit-input-placeholder {
  opacity: .3;
}

.input .input-btn:-ms-input-placeholder {
  opacity: .3;
}

.input .input-btn::-ms-input-placeholder {
  opacity: .3;
}

.input .input-btn::placeholder {
  opacity: .3;
}

.input .exchange-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "value-l icon value-r" "from-l icon to-r" "name-l icon name-r";
}

.input .exchange-container .value-l, .input .exchange-container .value-r, .input .exchange-container .from-l, .input .exchange-container .to-r {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: value-l;
  background-color: #fafafa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  height: 25px;
}

.input .exchange-container .value-r {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: value-r;
}

.input .exchange-container .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: icon;
  text-align: end;
  display: block;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  background: url(../exchange.svg);
  background-size: 18px 18px;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.input .exchange-container .from-l {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: from-l;
  background-color: #f4eddf;
  color: #fabc29;
  font-size: 14px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20px;
}

.input .exchange-container .to-r {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: to-r;
  background-color: #e6e9f3;
  color: #758bef;
  font-size: 14px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20px;
}

.input .exchange-container .name-l, .input .exchange-container .name-r {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: name-l;
  font-size: 12px;
  color: #fabc29;
  opacity: 1;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  height: 16px;
}

.input .exchange-container .name-r {
  color: #758bef;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: name-r;
}

.list {
  position: absolute;
  top: 340px;
}

.list .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.currency {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 5px;
}

.currency .code {
  font-weight: bold;
  font-size: 14px;
}

.currency .name {
  font-size: 12px;
  opacity: 0.3;
}

.currency:hover {
  background-color: #fafafa;
}
/*# sourceMappingURL=style.css.map */